@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500&display=swap');

* {
  margin: 0;
  padding: 0;
}

.title {
  font-size: 32px;
  font-family: 'IBM plex sans';
  margin: 10px 0px;
}

.text-p {
  font-size: 64px;
  font-family: 'IBM plex sans';
}

.container {
  max-width: 1920px;
  margin: 0 auto;
}

.conteudo {
  max-width: 700px;
}

button {
  background: none;
  border: none;
}

.cursor {
  position: fixed;
  width: 20px;
  height: 20px;
  z-index: 250;
  border-radius: 50%;
  background: #fff;
  transition: 0.1s;
  transform: translate(-50%, -50%);
  pointer-events: none;
  mix-blend-mode: difference;
  scale: 4;
}



