.bg-full {
  background: #0f62fe;
}

.bg-intro {
  height: 400px;
  color: #fff;
  display: grid;
  height: calc(100vh - 70px);
}

.arrow {
  margin: 10px;
}

.intro-conteudo {
  align-self: end;
}

.bg-about {
  background: #fff;
  color: #0f62fe;
  justify-content: center;
}

.bg-work {
  background: #0f62fe;
  color: #fff;
  display: grid;
}

.text-work {
  margin-bottom: 40px;
}

.bg-items {
  background-color: white;
  color: #0f62fe;
}

.items {
  padding: 10px;
}

.items-text {
  position: relative;
  text-align: end;
}

.title-2 {
  font-family: 'IBM plex sans', sans-serif;
  font-size: 10px;
  position: absolute;
  top: 0px;
  right: -15px;
}

.swiper {
  max-width: 1200px;
}

.bg-end {
  height: 400px;
  font-size: 30px;
  color: #fff;
  background-color: #0f62fe;
  display: grid;
}

.bg-end-conteudo {
  align-self: center;
  max-width: 1920px;
}


.footer {
  font-family: 'IBM plex sans', sans-serif;
  padding: 10px;
  background: #0f62fe;
  color: #fff;
}

.footer > .container {
  display: flex;
  justify-content: space-between;
}

.section-one {
  position: sticky;
  top: 0;
  z-index: 100;
  padding: 62px;
}

.section-two {
  position: sticky;
  top: 0;
  z-index: 101;
  padding: 62px;
}

.section-three {
  position: sticky;
  top: 0;
  z-index: 102;
  padding: 62px;
}

.section-four {
  position: sticky;
  top: 0;
  z-index: 200;
  padding: 62px;
}

.section-five {
  position: sticky;
  top: 0;
  z-index: 201;
  padding: 62px;
}


@media (min-width: 1920px) {
  .container {
    max-width: 1920px;
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}

@media (max-width: 680px) {
  .text-p {
    font-size: 32px;
  }
  .title {
    font-size: 16px;
  }
}

@media (max-width: 550px) {
  .footer .text-f {
    display: none;
  }
}

.section-one, .section-two, .section-three, .section-four, .section-five {
  padding: 32;
}

/* @media (max-width: 500px) {
  .text-p {
    font-size: 20px;
  }

  .text-work {
    margin-bottom: 25px;
  }
} */
